# Core functionality - changes here should be rare!
/src/app.py                   @bigjew92
/src/backend/database.py      @bigjew92
/src/backend/routers/auth.py  @bigjew92

# The frontend will need refactored soon to be more object oriented.
/src/static/   @bigjew92
